body {
    overflow: hidden;
}

.nav {
    background-color: rgb(26, 27, 73);
    height: 3rem;
}

.height {
    height: 98vh;
}

#map {
    height: 100%;
}

.list {
    background-color: #7c7c7c;
    margin-left: -1rem;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

#listHeading {
    background-color: #3C3C3C;
    color: white;
    font-size: 1.8rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.8rem 0rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0rem 0rem 1.3rem 1.3rem;
}

#listItems {
    overflow-y: auto;
    margin-left: -0.8rem;
    margin-right: -1rem;
    overflow-x: hidden;
    padding-right: 0.25rem;
    padding-left: 0.1rem;
}

.item {
    background-color: white;
    height: 8rem;
    border-bottom: 2px solid #ffd54a;
    border-radius: 0.2rem;
    margin-top: 0.3rem;
    padding-top: 0.3rem;
}

.item:hover {
    background-color: rgb(252, 250, 250);
    height: 8rem;
    border-bottom: 2px solid #212121;
    border-radius: 0.2rem;
    margin-top: 0.3rem;
    padding-top: 0.3rem;
}

.img {
    width: 6rem;
    height: 5.8rem;
    float: right;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 0.8rem;
    display: block;
}

.profile{
    width: 3rem;
    height: 3rem;
    float: right;
    border-radius: 50%;
}

.form {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 10rem;
    top: -5rem;
    width: 50%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
}

.form input {
    width: 100%;
    border-radius: 0.2rem;
}

.form-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 0.3rem;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#form-btn {
    color: black;
    font-weight: 500;
}

.address {
    font-size: small;
    margin-bottom: -1rem;
    padding-left: 0.5rem;
}

.search {
    margin-left: -1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
}

.custom-range {
    color: #FFBB33;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: -1rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 25px;
    border: 0;
    background: url('imgs/star.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 24px;
    border: 0;
    background: url('imgs/star.png');
    cursor: pointer;
}

#ratingMin {
    font-size: small;
    padding-left: 0.3rem;
}

#ratingMax {
    font-size: small;
    padding-left: 0.3rem;
}

.minmax {
    font-size: large;
    padding-left: 0.3rem;
}

.clickedImg {
    width: 115%;
    margin-left: -1rem;
    height: 15rem;
    object-fit: cover;
}

#cross {
    float: right;
}
#add {
    float: right;
}
.right{
    float: right;
}

.clickedName {
    background-color: #3C3C3C;
    width: 111%;
    margin-left: -1rem;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}

.clickedAddress {
    background-color: rgb(236, 236, 236);
    padding: 1.2rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.clickedRating{
background-color:#4d4d4d;
padding: 1.2rem;
margin-left: -1rem;
margin-right: -1rem;
color: white;
margin-top: -1rem;
margin-bottom: -0.5rem;
font-weight: bolder;
}
.clickedTotal{
    background-color: rgb(209, 208, 208);
    margin: -1rem;
    padding: 1rem;
    padding-left: 1.2rem;
}

.reviewList{
    background-color: rgb(179, 178, 178);
    padding-top: 1rem;
    border-bottom: 1px solid black;
}

.ago{
    font-size: small;
}
.fa-arrow-circle-left{
    font-size: 1.5rem;
    float: left;
    margin-left: 1rem;
    margin-top: 0.6rem;
}

.fab {
    width: 50px;
    height: 50px;
    background-color: rgb(121, 121, 121);
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    color: white;
    text-align: center;
  
    position: fixed;
    left: 30px;
    bottom: 50px;
 }
  
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }

 .fa-th-list{
     font-size: 1.5rem;
     padding-top: 0.8rem;
 }

@media only screen and (max-width: 600px) {
    .fa-arrow-circle-left{
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 0.6rem;
        float: left;
    }

    .clickedImg {
        width: 102%;
        margin-left: -1rem;
        height: 15rem;
        object-fit: cover;
    }
    .list {
        background-color: #4b4b4b;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100rem;
        position: absolute;
        z-index: 1;
        margin-left: 1rem;
        height: 105%;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
    #map {
        height: 110%;
        width: 100vw;
    }

    .clickedImg {
        width: 125%;
        margin-left: -1rem;
        height: 15rem;
        object-fit: cover;
    }

    #cross {
        float: right;
        padding-right: 1rem;
        font-size: 1.5rem;
    }
    #add{
        font-size: 1.5rem;
    }
    .form {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0rem;
        top: -5rem;
        width: 95%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
    }
    
    
}